@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Bebas Neue;
  src: url("/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: Sora;
  src: url("/fonts/Sora-VariableFont_wght.ttf");
}

:root {
  --primary: #4242e0;
  --secondary: #c8d2da;
  --tertiary: #2a2c2d;
  --neutral_1: #ebeff2;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--neutral_1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bebas Neue;
}

p,
div,
span {
  font-family: Sora;
  font-weight: 400;
}
